<!DOCTYPE html>
<html lang="en">
    <head th:replace="layout/fragmentos :: head">
    </head>
    <body class="sb-nav-fixed">
        <nav th:replace="layout/fragmentos :: nav1"></nav>
        <div id="layoutSidenav">
            <div th:replace="layout/fragmentos :: menu"></div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid pt-4 px-4">
                        <form th:action="@{/cliente/form}" th:object="${cliente}" method="post">
                            <input type="hidden" th:field="*{id}">
                            <div class="card">
                                <div class="card-header">
                                    Datos del cliente
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <label>Nombres:</label>
                                            <input th:field="*{nombres}" type="text" class="form-control">
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label>Apellidos:</label>
                                            <input th:field="*{apellidos}" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <label>Correo:</label>
                                            <input th:field="*{correo}" type="text" class="form-control">
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label>Ingrese fecha:</label>
                                            <input th:field="*{date}" type="date" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <button class="btn btn-primary" type="submit">
                                                <i class="fa-solid fa-floppy-disk"></i>Guardar cliente
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <br>
                        <!---Inicio de tabla para mostrar clientes-->
                        <div class="card">
                            <div class="card-header">
                                Clientes registrados
                            </div>
                            <div class="card-body">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Nombres</th>
                                            <th>Apellidos</th>
                                            <th>Correo</th>
                                            <th>Fecha</th>
                                            <th>Editar</th>
                                            <th>Eliminar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="item : ${listaClientes}">
                                            <td th:text="${item.nombres}"></td>
                                            <td th:text="${item.apellidos}"></td>
                                            <td th:text="${item.correo}"></td>
                                            <td th:text="${item.date}"></td>
                                            <td class="text-center">
                                                <a th:href="@{/cliente/editar/} + ${item.id}" class="btn btn-warning">
                                                    <i class="fa-solid fa-user-pen"></i> Editar
                                                </a>
                                            </td>
                                            <td class="text-center">
                                                <a th:href="@{/cliente/eliminar/} + ${item.id}" class="btn btn-danger"
                                                onclick="return confirm('¿Desea eliminar el cliente?')">
                                                    <i class="fa-solid fa-user-slash"></i> Eliminar
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!---Final de tabla para mostrar clientes-->
                    </div>
                </main>
                <footer th:replace="layout/fragmentos :: pie"></footer>
            </div>
        </div>
        <div th:replace="layout/fragmentos :: librerias"></div>
    </body>
</html>